[Unit]
Description=Run Xvfb for display %I
After=network.target
Before=console-getty.service

[Service]
Type=forking

Environment="XVFB_RESOLUTION=1920x1080x24"
Environment="XVFB_FBDIR=%t"

PIDFile=%t/xvfb@%I.pid

ExecStartPre=mkdir -p "${XVFB_FBDIR}"
ExecStart=/usr/local/bin/xvfb.sh -ac -listen tcp %I -screen 0 "${XVFB_RESOLUTION}" -fbdir "${XVFB_FBDIR}"

[Install]
WantedBy=multi-user.target
