[Unit]
Description=Run GNOME X11 session for display %I

[Service]
Environment="DISPLAY=%I"
Environment="XDG_SESSION_TYPE=x11"
ExecStart=gnome-session

[Install]
WantedBy=default.target
