[Unit]
Description=Run nested Wayland gnome session for display %I
Requires=xvfb@%i.service
After=xvfb@%i.service

[Service]
Type=exec
Environment="MUTTER_DEBUG_DUMMY_MODE_SPECS=1920x1080@30.0"
Environment="XDG_SESSION_TYPE=wayland"
ExecStart=gnome-session

[Install]
WantedBy=default.target
